{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
      "mocha": true,
      "browser": true
    },
    "rules": {
      "object-curly-spacing": [2, "always"],
      "arrow-body-style": 1,
      "indent": "off",
      "comma-dangle": 1,
      "no-trailing-spaces": 1,
      "space-before-function-paren": 1,
      "func-names": 1,
      "new-cap": 1,
      "no-unused-vars":1,
      "prefer-destructuring": 1,
      "no-restricted-globals": 1,
      "max-len": [0, 500],
      "react/prefer-stateless-function": 1,
      "react/jsx-indent-props": 1,
      "react/jsx-indent": 1,
      "react/prop-types": [1],
      "react/no-multi-comp": 1,
      "react/jsx-closing-bracket-location": 1,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "jsx-a11y/img-has-alt": "off",
      "jsx-a11y/interactive-supports-focus": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off",
      "jsx-a11y/alt-text": "off",
      "jsx-a11y/label-has-for": "off",
      "linebreak-style": "off",
      "prefer-template": 1,
      "react/no-array-index-key": "off",
      "react/require-default-props": "off",
      "react/no-unused-prop-types": "off",
      "react/forbid-prop-types": "off",
      "react/no-unused-state": "off",
      "class-methods-use-this": 1,
      "import/prefer-default-export": "off",
      "react/destructuring-assignment":"off",
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "no-underscore-dangle": 1,
      "array-callback-return":1,
      "consistent-return":1,
      "no-plusplus":1,
      "no-param-reassign":1,
      "no-console":1
  }
}
